<h1> you will see our product list here in this page</h1>

<ul>
    {{#each product}}
      <a href="item-{{this._id}}"><li>{{this.name}}</li></id></a>
       <a href="delete-{{this._id}}"><button>Delete</button></a>
     {{/each}}
 </ul>   

<!-- method="DELETE" -->
